@import "tailwindcss";

@theme {
  /* Standard Institutional Palette (Blue) */
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-900: #0c4a6e;

  --color-slate-850: #1e293b;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}
